* {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: OleoScript;
    src: url(Fonts/OleoScript-Regular.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(Fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(Fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url(Fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(Fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(Fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-ThinItalic;
    src: url(Fonts/Roboto-ThinItalic.ttf);
}

body {
    background-image: url("Pictures/NewBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    width: 100%;
    height: auto;
    margin-top: 2em;
    transition: 700ms;
    display: grid;
    position: fixed;
    z-index: 1000;

    section {
        display: flex;
        width: 50ch;
        justify-content: space-around;
        justify-self: right;
        margin-right: 7em;
        a {
            width: 12ch;
            text-align: center;
        }
    }

    span {
        color: white;
        font-family: Roboto-Light;
        font-size: 1.5em;
        opacity: 0.7;
        transition: 700ms;
        user-select: none;
    }
    span:hover {
        opacity: 1;
        cursor: pointer;
        text-shadow: 2px 2px 30px white;
        font-family: Roboto-Regular;
    }
}

.Greetings {
    height: 100vh;
    display: grid;
    place-items: center;

    color: white;
    font-size: 12em;
    font-family: OpenSans-Semibold;
    user-select: none;
}

//Cursor effect (typewriter)
.txt-type > .txt {
    border-right: 0.3rem solid rgba(255, 255, 255, 0.8);
    font-family: Roboto-Light;
    text-shadow: 0px 0px 15px white;
    animation: blinking 1s steps(100) infinite normal;
}

.Filler {
    width: 100%;
    display: grid;
    place-items: center;
}

.About {
    padding-bottom: 15vh;
    margin-top: 10em;
    column-gap: 3em;
    display: grid;
    grid-template-columns: auto auto auto auto;

    .Polaroid {
        height: min-content;
        width: min-content;
        img {
            width: 40ch;
            height: auto;
            user-select: none;
        }
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
}

.Card {
    background-color: rgba(255, 255, 255, 0.1);
    width: 40ch;
    display: flex;
    flex-direction: column;
    padding: 5ch;
    padding-top: 3ch;
    border-radius: 2em;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5em);
    p {
        color: white;
        font-size: 1.2em;
        user-select: none;
    }
    .Title {
        font-family: Roboto-Bold;
        font-size: 2.2em;
        align-self: center;
    }
    .LilTitle {
        font-family: Roboto-Regular;
        margin-top: 0.8em;
    }
    .Description {
        font-family: Roboto-Thin;
    }
}

.Whoami {
    height: 32em;
}

.Skills {
    height: 19em;
    .ASkill {
        margin-top: 0.8em;
        display: flex;
        align-items: center;
        justify-items: center;
        .Description {
            font-family: Roboto-Regular;
        }
        .Level {
            margin-left: 2ch;
            width: 10px;
            height: 10px;
            border-radius: 100%;
        }
        .Red {
            background-color: red;
            box-shadow: 0px 0px 15px red;
        }
        .Green {
            background-color: rgb(27, 192, 27);
            box-shadow: 0px 0px 15px rgb(27, 192, 27);
        }
        .Orange {
            background-color: orange;
            box-shadow: 0px 0px 15px orange;
        }
        .Tip {
            font-family: "Roboto-ThinItalic";
            color: white;
            position: relative;
            bottom: 4px;
            left: 20px;
            display: none;
            width: 15ch;
        }
        .Level:hover {
            cursor: help;
        }
        .Green:hover {
            .Tip {
                display: block;
            }
            .Tip::before {
                content: "Высокий уровень";
            }
        }
        .Orange:hover {
            .Tip {
                display: block;
            }
            .Tip::before {
                content: "Средний уровень";
            }
        }
        .Red:hover {
            .Tip {
                display: block;
            }
            .Tip::before {
                content: "Низкий уровень";
            }
        }
    }
}

.Contacts {
    height: 15em;
    img {
        width: 3.5em;
        height: auto;
    }
    button {
        background-color: transparent;
        border: none;
    }
    .Icons {
        margin-top: 2em;
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 3em;
    }

    .ContactWrapper {
        height: 4em;
        width: 4em;
        border-radius: 3em;
        display: grid;
        place-items: center;
        align-self: center;
        justify-self: center;
        transition: 50ms;
    }
    .ContactWrapper:hover {
        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.61);
        background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.671), rgba(255, 255, 255, 0.05));
    }
    .CopiedTip {
        font-family: Roboto-Light;
        position: absolute;
        right: 15%;
        opacity: 0;
    }
}

#EndPage {
    margin-bottom: 20em;
    margin-top: 10em;
    justify-items: center;
    align-content: center;
}

.Projects {
    display: grid;
    gap: 3em;
    place-items: center;
    grid-template-columns: auto auto auto;
}

.Project {
    display: grid;
    position: relative;
    min-height: 22em;
    .Preview,
    .ProjectInfo {
        display: grid;
        justify-items: center;
        padding-top: 2ch;
        width: 100%;
        height: 10%;
        position: absolute;
        top: 1em;
        left: 0;
        transition: 500ms;
    }
    .Preview {
        height: 10%;
    }
    .ProjectName {
        font-family: Roboto-Bold;
        font-size: 2.2em;
    }
    .ProjectMiniature {
        margin-top: 3ch;
        opacity: 0.8;
        width: 85%;
        height: auto;
        max-width: 35ch;
        max-height: 35ch;
    }
    .ProjectInfo {
        transform: translateY(150px);
        opacity: 0;

        p {
            word-wrap: break-word;
        }

        .Description {
            text-indent: 1ch;
            max-width: 30ch;
            width: 80%;
            margin-top: 2ch;
        }

        .Links {
            display: flex;
            flex-direction: row;
            height: max-content;
            gap: 5ch;
            margin-top: 3em;
        }
        .LinkButton {
            color: white;
            font-family: Roboto-Regular;
            background-color: rgba(39, 226, 80, 0.8);
            border: 2px solid rgba(255, 255, 255, 0.2);
            border-radius: 4ch;
            padding: 1.5ch;
            width: 10ch;
            text-align: center;
            user-select: none;
            transition: 500ms;
        }
        .LinkButton:hover {
            box-shadow: 0px 0px 20px rgb(39, 226, 80);
        }
    }
}

.Project:hover {
    .Preview {
        opacity: 0;
        transform: translateY(150px);
    }
    .ProjectInfo {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 1501px) and (max-width: 1850px) {
    .About {
        grid-template-areas:
            "Polaroid Whoami Skills"
            ".   .   Contacts";
        grid-row-gap: 5em;
    }

    .Polaroid {
        grid-area: Polaroid;
    }
    .Whoami {
        grid-area: Whoami;
    }
    .Skills {
        grid-area: Skills;
    }
    .Contacts {
        grid-area: Contacts;
    }
}

@media (max-width: 1350px) {
    .Projects {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 1051px) and (max-width: 1500px) {
    .About {
        grid-template-areas:
            "Polaroid Whoami "
            "   Skills   Contacts";
        grid-row-gap: 5em;
    }

    .Polaroid {
        grid-area: Polaroid;
    }
    .Whoami {
        grid-area: Whoami;
    }
    .Skills {
        grid-area: Skills;
    }
    .Contacts {
        grid-area: Contacts;
    }
}

@media (max-width: 1050px) {
    .About {
        grid-template-columns: auto;
        grid-template-areas:
            "Rocketship"
            "Whoami"
            "Skills"
            "Contacts";
        width: 60ch;
        row-gap: 3em;
        column-gap: 0em;
        align-content: center;
        justify-items: center;
    }

    .Rocketship {
        grid-area: Rocketship;
        margin-left: 0em;
    }
    .Whoami {
        grid-area: Whoami;
    }
    .Skills {
        grid-area: Skills;
    }
    .Contacts {
        grid-area: Contacts;
    }
    .Projects {
        grid-template-columns: auto;
    }
}
/*@media (min-width: 560px) {
    .Greetings {
        font-size: 4em;
    }
    .Filler {
        max-width: 375px;
    }
    .About {
        .Rocketship {
            width: 50ch;
            height: auto;
            .Fire {
                width: 110px;
                height: 130px;
                bottom: 10em;
                left: 9em;
            }
        }
    }
    .Card {
        width: 30ch;
    }
    .Whoami {
        height: 31em;
    }
    .Project {
        .ProjectInfo {
            .Description {
                width: 28ch;
            }
        }
    }
}
*/
@media (min-width: 251px) and (max-width: 550px) {
    nav {
        section {
            justify-self: center;
            width: 80%;
            margin-right: 0;
        }
        span {
            font-size: 1em;
        }
    }
    .Greetings {
        font-size: 5.5em;
        display: grid;
        place-items: center;
        width: 100%;
        flex-shrink: 1;
        .txt-type {
            width: fit-content;
        }
    }
    .About {
        width: 100%;
        .Card {
            width: 60%;
        }
    }
    .Projects {
        width: 100%;
        .Card {
            width: 60%;
            height: 26em;
        }
    }
    .Project {
        .ProjectInfo {
            .Links {
                gap: 4ch;
            }
            .LinkButton {
                width: 8ch;
            }
        }
    }
}

@media (max-width: 350px) {
    .About {
        .Polaroid {
            img {
                width: 33ch;
            }
        }
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideUp {
    from {
        top: 65%;
    }
    to {
        top: 60%;
    }
}

@keyframes blinking {
    from {
        border-right-color: rgba(255, 255, 255, 0.8);
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes ignition {
    50% {
        transform: scaleY(1.1) translateY(7px);
    }
    100% {
        transform: scaleY(1.2) translateY(14px);
    }
}
