@charset "UTF-8";
* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: OleoScript;
  src: url(Fonts/OleoScript-Regular.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(Fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(Fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: OpenSans-Semibold;
  src: url(Fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(Fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(Fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-ThinItalic;
  src: url(Fonts/Roboto-ThinItalic.ttf);
}

body {
  background-image: url("Pictures/NewBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  width: 100%;
  height: auto;
  margin-top: 2em;
  display: -ms-grid;
  display: grid;
  position: fixed;
  z-index: 1000;
}

nav section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50ch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-self: right;
  margin-right: 7em;
}

nav span {
  color: white;
  font-family: Roboto-Light;
  font-size: 1.5em;
  opacity: 0.7;
  -webkit-transition: 700ms;
  transition: 700ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav span:hover {
  opacity: 1;
  cursor: pointer;
  text-shadow: 2px 2px 30px white;
  font-family: Roboto-Regular;
}

.Greetings {
  height: 80vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: white;
  font-size: 12em;
  font-family: OpenSans-Semibold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.txt-type > .txt {
  border-right: 0.3rem solid rgba(255, 255, 255, 0.8);
  font-family: Roboto-Light;
  text-shadow: 0px 0px 15px white;
  -webkit-animation: blinking 1s steps(100) infinite normal;
          animation: blinking 1s steps(100) infinite normal;
}

.Filler {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.About {
  padding-bottom: 15vh;
  margin-top: 25vh;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

.About .Rocketship {
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60ch;
}

.About .Rocketship .Fire {
  position: relative;
  width: 179px;
  height: 191px;
  left: 9.5em;
  bottom: 11.7em;
  -webkit-animation: ignition 220ms alternate infinite;
          animation: ignition 220ms alternate infinite;
}

.Card {
  background-color: rgba(255, 255, 255, 0.1);
  width: 40ch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5ch;
  padding-top: 3ch;
  border-radius: 2em;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5em);
          backdrop-filter: blur(5em);
}

.Card p {
  color: white;
  font-size: 1.2em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Card .Title {
  font-family: Roboto-Bold;
  font-size: 2.2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.Card .LilTitle {
  font-family: Roboto-Regular;
  margin-top: 0.8em;
}

.Card .Description {
  font-family: Roboto-Thin;
}

.Whoami {
  height: 29em;
}

.Skills {
  height: 19em;
}

.Skills .ASkill {
  margin-top: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.Skills .ASkill .Description {
  font-family: Roboto-Regular;
}

.Skills .ASkill .Level {
  margin-left: 2ch;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.Skills .ASkill .Red {
  background-color: red;
  -webkit-box-shadow: 0px 0px 15px red;
          box-shadow: 0px 0px 15px red;
}

.Skills .ASkill .Green {
  background-color: #1bc01b;
  -webkit-box-shadow: 0px 0px 15px #1bc01b;
          box-shadow: 0px 0px 15px #1bc01b;
}

.Skills .ASkill .Orange {
  background-color: orange;
  -webkit-box-shadow: 0px 0px 15px orange;
          box-shadow: 0px 0px 15px orange;
}

.Skills .ASkill .Tip {
  font-family: "Roboto-ThinItalic";
  color: white;
  position: relative;
  bottom: 4px;
  left: 20px;
  display: none;
  width: 15ch;
}

.Skills .ASkill .Level:hover {
  cursor: help;
}

.Skills .ASkill .Green:hover .Tip {
  display: block;
}

.Skills .ASkill .Green:hover .Tip::before {
  content: "Высокий уровень";
}

.Skills .ASkill .Orange:hover .Tip {
  display: block;
}

.Skills .ASkill .Orange:hover .Tip::before {
  content: "Средний уровень";
}

.Skills .ASkill .Red:hover .Tip {
  display: block;
}

.Skills .ASkill .Red:hover .Tip::before {
  content: "Низкий уровень";
}

.Contacts {
  height: 15em;
}

.Contacts img {
  width: 3.5em;
  height: auto;
}

.Contacts button {
  background-color: transparent;
  border: none;
}

.Contacts .Icons {
  margin-top: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  row-gap: 3em;
}

.Contacts .ContactWrapper {
  height: 4em;
  width: 4em;
  border-radius: 3em;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.Contacts .ContactWrapper:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.61);
          box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.61);
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.671), rgba(255, 255, 255, 0.05));
}

.Contacts .CopiedTip {
  font-family: Roboto-Light;
  position: absolute;
  right: 15%;
  opacity: 0;
}

#EndPage {
  margin-bottom: 20em;
  margin-top: 10em;
}

.Projects {
  display: -ms-grid;
  display: grid;
  gap: 3em;
  place-items: center;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.Project {
  display: -ms-grid;
  display: grid;
  position: relative;
  min-height: 22em;
}

.Project .Preview,
.Project .ProjectInfo {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding-top: 2ch;
  width: 100%;
  height: 10%;
  position: absolute;
  top: 1em;
  left: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.Project .Preview {
  height: 10%;
}

.Project .ProjectName {
  font-family: Roboto-Bold;
  font-size: 2.2em;
}

.Project .ProjectMiniature {
  margin-top: 3ch;
  opacity: 0.8;
  width: 35ch;
  height: 35ch;
}

.Project .ProjectInfo {
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
}

.Project .ProjectInfo .Description {
  text-indent: 1ch;
  width: 30ch;
  margin-top: 2ch;
}

.Project .ProjectInfo .Links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  gap: 5ch;
  margin-top: 3em;
}

.Project .ProjectInfo .LinkButton {
  color: white;
  font-family: Roboto-Regular;
  background-color: rgba(39, 226, 80, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4ch;
  padding: 1.5ch;
  width: 10ch;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.Project .ProjectInfo .LinkButton:hover {
  -webkit-box-shadow: 0px 0px 20px #27e250;
          box-shadow: 0px 0px 20px #27e250;
}

.Project:hover .Preview {
  opacity: 0;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}

.Project:hover .ProjectInfo {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (min-width: 1501px) and (max-width: 1850px) {
  .About {
        grid-template-areas: "Rocketship Whoami Skills" "Rocketship   .   Contacts";
  }
  .Rocketship {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: Rocketship;
  }
  .Whoami {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: Whoami;
  }
  .Skills {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: Skills;
  }
  .Contacts {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: Contacts;
  }
}

@media (min-width: 1051px) and (max-width: 1500px) {
  .About {
        grid-template-areas: "Rocketship Whoami " "   Skills   Contacts";
  }
  .Rocketship {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: Rocketship;
    margin-left: -2em;
  }
  .Whoami {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: Whoami;
  }
  .Skills {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: Skills;
  }
  .Contacts {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: Contacts;
  }
}

@media (max-width: 1050px) {
  .About {
        grid-template-areas: "Rocketship" "Whoami" "Skills" "Contacts";
    width: 60ch;
    row-gap: 4em;
    place-items: center;
  }
  .Rocketship {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: Rocketship;
    margin-left: 0em;
  }
  .Whoami {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: Whoami;
  }
  .Skills {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: Skills;
  }
  .Contacts {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: Contacts;
  }
  .Projects {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 560px) {
  .Greetings {
    font-size: 4em;
  }
}

@media (min-width: 251px) and (max-width: 750px) {
  nav section {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  nav span {
    font-size: 1em;
  }
  .Greetings {
    font-size: 6em;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes slideUp {
  from {
    top: 65%;
  }
  to {
    top: 60%;
  }
}

@keyframes slideUp {
  from {
    top: 65%;
  }
  to {
    top: 60%;
  }
}

@-webkit-keyframes blinking {
  from {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinking {
  from {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
  to {
    border-right-color: transparent;
  }
}

@-webkit-keyframes ignition {
  50% {
    -webkit-transform: scaleY(1.1) translateY(7px);
            transform: scaleY(1.1) translateY(7px);
  }
  100% {
    -webkit-transform: scaleY(1.2) translateY(14px);
            transform: scaleY(1.2) translateY(14px);
  }
}

@keyframes ignition {
  50% {
    -webkit-transform: scaleY(1.1) translateY(7px);
            transform: scaleY(1.1) translateY(7px);
  }
  100% {
    -webkit-transform: scaleY(1.2) translateY(14px);
            transform: scaleY(1.2) translateY(14px);
  }
}
/*# sourceMappingURL=index.css.map */