* {
    margin: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: OleoScript;
    src: url(Fonts/OleoScript-Regular.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(Fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(Fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url(Fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(Fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(Fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-ThinItalic;
    src: url(Fonts/Roboto-ThinItalic.ttf);
}

body {
    background-image: url("Pictures/NewBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    width: 100%;
    height: auto;
    margin-top: 2em;
    
    display: grid;
    position: fixed;
    z-index: 1000;

    section {
        display: flex;
        width: 50ch;
        justify-content: space-around;
        justify-self: right;
        margin-right: 7em;
    }

    span {
        color: white;
        font-family: Roboto-Light;
        font-size: 1.5em;
        opacity: 0.7;
        transition: 700ms;
        user-select: none;
    }
    span:hover {
        opacity: 1;
        cursor: pointer;
        text-shadow: 2px 2px 30px white;
        font-family: Roboto-Regular;
    }
}

.Greetings {
    height: 80vh;
    display: grid;
    place-items: center;

    color: white;
    font-size: 12em;
    font-family: OpenSans-Semibold;
    user-select: none;
}

//Cursor effect (typewriter)
.txt-type > .txt {
    border-right: 0.3rem solid rgba(255, 255, 255, 0.8);
    font-family: Roboto-Light;
    text-shadow: 0px 0px 15px white;
    animation: blinking 1s steps(100) infinite normal;
}

.Filler {
    width: 100%;
    display: grid;

    place-items: center;
}

.About {
    padding-bottom: 15vh;
    margin-top: 25vh;
    column-gap: 3em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    .Rocketship {
        pointer-events: none;
        display: flex;
        flex-direction: column;
        width: 60ch;
        .Fire {
            position: relative;
            width: 179px;
            height: 191px;
            left: 9.5em;
            bottom: 11.7em;
            animation: ignition 220ms alternate infinite;
        }
    }
}

.Card {
    background-color: rgba(255, 255, 255, 0.1);
    width: 40ch;
    display: flex;
    flex-direction: column;
    padding: 5ch;
    padding-top: 3ch;
    border-radius: 2em;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5em);
    p {
        color: white;
        font-size: 1.2em;
        user-select: none;
    }
    .Title {
        font-family: Roboto-Bold;
        font-size: 2.2em;
        align-self: center;
    }
    .LilTitle {
        font-family: Roboto-Regular;
        margin-top: 0.8em;
    }
    .Description {
        font-family: Roboto-Thin;
    }
}

.Whoami {
    height: 29em;
}

.Skills {
    height: 19em;
    .ASkill {
        margin-top: 0.8em;
        display: flex;
        align-items: center;
        justify-items: center;
        .Description {
            font-family: Roboto-Regular;
        }
        .Level {
            margin-left: 2ch;
            width: 10px;
            height: 10px;
            border-radius: 100%;
        }
        .Red {
            background-color: red;
            box-shadow: 0px 0px 15px red;
        }
        .Green {
            background-color: rgb(27, 192, 27);
            box-shadow: 0px 0px 15px rgb(27, 192, 27);
        }
        .Orange {
            background-color: orange;
            box-shadow: 0px 0px 15px orange;
        }
        .Tip {
            font-family: "Roboto-ThinItalic";
            color: white;
            position: relative;
            bottom: 4px;
            left: 20px;
            display: none;
            width: 15ch;
        }
        .Level:hover {
            cursor: help;
        }
        .Green:hover {
            .Tip {
                display: block;
            }
            .Tip::before {
                content: "Высокий уровень";
            }
        }
        .Orange:hover {
            .Tip {
                display: block;
            }
            .Tip::before {
                content: "Средний уровень";
            }
        }
        .Red:hover {
            .Tip {
                display: block;
            }
            .Tip::before {
                content: "Низкий уровень";
            }
        }
    }
}

.Contacts {
    height: 15em;
    img {
        width: 3.5em;
        height: auto;
    }
    button {
        background-color: transparent;
        border: none;
    }
    .Icons {
        margin-top: 2em;
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 3em;
    }

    .ContactWrapper {
        height: 4em;
        width: 4em;
        border-radius: 3em;
        display: grid;
        place-items: center;
        align-self: center;
        justify-self: center;
    }
    .ContactWrapper:hover {
        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.61);
        background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.671), rgba(255, 255, 255, 0.05));
    }
    .CopiedTip {
        font-family: Roboto-Light;
        position: absolute;
        right: 15%;
        opacity: 0;
    }
}

@media (min-width: 1501px) and (max-width: 1850px) {
    .About {
        grid-template-areas:
            "Rocketship Whoami Skills"
            "Rocketship   .   Contacts";
    }

    .Rocketship {
        grid-area: Rocketship;
    }
    .Whoami {
        grid-area: Whoami;
    }
    .Skills {
        grid-area: Skills;
    }
    .Contacts {
        grid-area: Contacts;
    }
}

@media (min-width: 1051px) and (max-width: 1500px) {
    .About {
        grid-template-areas:
            "Rocketship Whoami "
            "   Skills   Contacts";
            
    }

    .Rocketship {
        grid-area: Rocketship;
        margin-left: -2em;
    }
    .Whoami {
        grid-area: Whoami;
    }
    .Skills {
        grid-area: Skills;
    }
    .Contacts {
        grid-area: Contacts;
    }
}


@media  (max-width: 1050px) {
    .About {
        grid-template-areas:
            "Rocketship"
            "Whoami"
            "Skills"
            "Contacts";
        width: 60ch;
        row-gap: 4em;
        place-items: center;
    }

    .Rocketship {
        grid-area: Rocketship;
        margin-left: 0em;
    }
    .Whoami {
        grid-area: Whoami;
    }
    .Skills {
        grid-area: Skills;
    }
    .Contacts {
        grid-area: Contacts;
    }
}

@media (min-width: 251px) and (max-width: 400px) {
  nav{
      section{
          justify-self: center;
      }
      span{
          font-size: 1em;
      }
    
  }
  .Greetings{
      font-size: 6em;
  }


}


@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideUp {
    from {
        top: 65%;
    }
    to {
        top: 60%;
    }
}

@keyframes blinking {
    from {
        border-right-color: rgba(255, 255, 255, 0.8);
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes ignition {
    50% {
        transform: scaleY(1.1) translateY(7px);
    }
    100% {
        transform: scaleY(1.2) translateY(14px);
    }
}
