* {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

$SoftRed: #ff3d3d;
$SoftBlue: #007eff;

@font-face {
    font-family: Roboto-Thin;
    src: url(/Fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(/Fonts/Roboto-Light.ttf);
}

p {
    font-family: Roboto-Light;
}

img:hover {
    cursor: pointer;
}

.Header {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    .Profile {
        margin: 0;
    }
    .SearchBar {
        display: flex;
        align-items: center;

        border-color: rgba(0, 0, 0, 0.2);

        button:active,
        button:focus {
            outline: none;
        }
        .SearchButton {
            background-color: transparent;

            border-style: none;
            border: 0;
        }
        .SearchButton:not(:disabled) {
            cursor: pointer;
        }
        input:active,
        input:focus {
            outline: none;
        }
        .SearchInput {
            border: 0;
            border-style: none;
        }
    }

    .UserStuff {
        display: flex;
        justify-self: end;
        div {
            display: flex;
        }
        .UserCartFav {
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            place-items: center;
            .FavImg {
                background: url(../Icons/heart.png) no-repeat;
                background-size: contain;
            }
            .CartImg {
                background: url(../Icons/cart.png) no-repeat;
                background-size: contain;
            }
            .UserImg {
                background: url(../Icons/user.png) no-repeat;
                background-size: contain;
            }
        }

        #UserPage {
            padding-right: 0px;
        }

        .UserCartFav:hover {
            cursor: pointer;

            p {
                color: $SoftRed;
                transition: 200ms;
            }
        }
        #FavPage:hover {
            .FavImg {
                background: url(../Icons/heart_softred.png) no-repeat;
                background-size: contain;
                transition: 200ms;
            }
        }
        #CartPage:hover {
            .CartImg {
                background: url(../Icons/cart_softred.png) no-repeat;
                background-size: contain;
                transition: 200ms;
            }
        }
        #UserPage:hover {
            .UserImg {
                background: url(../Icons/user_softred.png) no-repeat;
                background-size: contain;
                transition: 200ms;
            }
        }
    }
}

.Panel {
    display: flex;
    justify-content: space-between;

    border-color: rgba(0, 0, 0, 0.2);

    .PanelBlocks {
        display: flex;
        align-items: center;
    }
    .PanelBlocks:hover {
        cursor: pointer;

        p {
            color: $SoftRed;
            transition: 200ms;
        }
    }
}

.AboutBody {
    display: grid;
    place-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

.AboutMain{
    display: flex;
}

.TextBlock{
    display: flex;
    flex-direction: column;
}

.Text{
    font-size: 1.5em;
    width: 70ch;
}

   


footer {
    background-color: black;

    display: grid;
    align-items: center;

    grid-template-columns: auto auto auto;

    .subscribeText {
        color: white;
    }
    .SubWrapper {
        display: flex;
        flex-direction: column;

        .subscribeBlock {
            input {
                color: white;
                background: black;
            }

            input:active,
            input:focus {
                outline: none;
            }

            input:focus::placeholder {
                color: transparent;
            }
        }
    }

    .SocialNetworks {
        display: flex;

        .SocialWrapper {
            display: grid;
            place-items: center;

            border-radius: 50%;
        }
        .SocialWrapper:hover {
            background-color: rgba(158, 158, 158, 0.1);
            box-shadow: 0.1em 0.1em 3em rgba(255, 255, 255, 0.2);
            cursor: pointer;
        }
    }

    .FlexParagraphs {
        display: flex;

        color: white;

        p {
            background-color: transparent;
        }
        p:hover {
            background-color: rgba(255, 255, 255, 0.045);
            cursor: pointer;
            box-shadow: 0.1em 0.1em 3em rgba(255, 255, 255, 0.2);
        }
    }
}

@media (min-width: 300px) {
    .Header {
        margin-left: 2em;
        margin-top: 1.5em;

        p {
            font-size: 0.8em;
        }
        .MainLogo {
            height: 2.5em;
            width: auto;
        }

        .SearchBar {
            width: 3ch;
            height: 1.5em;
            align-items: stretch;

            border-radius: 0.3em;
            .SearchButton {
                margin-left: 0.2em;
                height: 1.5em;
                width: 1.5em;
                img {
                    height: 1.5em;
                    width: 1.5em;
                }
            }

            .SearchInput {
                height: 2em;
                width: 0px;
                font-size: 0;
            }
        }

        .UserStuff {
            .UserCartFav {
                padding: 0.3em;
                p {
                    font-size: 0;
                }
                .FavImg {
                    width: 1.3em;
                    height: 1.3em;
                    margin-right: 0.6em;
                }
                .CartImg {
                    width: 1.3em;
                    height: 1.3em;

                    margin-right: 0.6em;
                }
                .UserImg {
                    width: 1.3em;
                    height: 1.3em;

                    margin-right: 0.6em;
                }
            }

            #UserPage {
                padding-right: 0px;
            }
        }
    }
    .Panel {
        display: flex;
        margin-top: 1.5em;
        border-top: 0.1em solid black;
        border-bottom: 0.1em solid black;
        justify-content: space-between;
        align-items: center;
        border-color: rgba(0, 0, 0, 0.2);

        #Inventory,
        #Syrups,
        #Alcohol,
        #Glass,
        #Literature {
            display: none;
        }

        .PanelBlocks {
            height: 3em;
            width: auto;

            font-size: 0.8em;
        }
        .PanelBlocks:hover {
            cursor: pointer;

            p {
                color: $SoftRed;
                transition: 200ms;
            }
        }
        img {
            margin-left: 2em;
            width: 1.5em;
            height: 1.5em;
        }
        #last {
            margin-right: 4.5em;
        }
    }

    .CartMain {
        flex-direction: column;
    }

    footer {
        
        height: auto;
        padding-left: 2em;
        padding-top: 2em;

        grid-template-columns: auto;

        .subscribeText {
            font-size: 1em;
        }
        .SubWrapper {
            row-gap: 1em;
            margin-bottom: 3.5em;
            .subscribeBlock {
                border-bottom: solid 1px white;
                width: 35ch;
                height: 4ch;

                input {
                    border: 0px;
                    font-size: 1.2em;
                    width: 23ch;
                    height: 2.7ch;
                }

                img {
                    height: 1em;
                }
            }
        }

        .SocialNetworks {
            column-gap: 1em;

            .SocialWrapper {
                margin-bottom: 3.5em;
                width: 4em;
                height: 4em;
                border-radius: 50%;
                img {
                    width: 1.5em;
                    height: 1.5em;
                }
            }
        }

        .FlexParagraphs {
            margin-bottom: 3.5em;
            column-gap: 1em;
            font-size: 1em;
            p {
                width: 40cx;
            }
        }
    }

    
    .CartMain {
        .Item {
           
            display: grid;
            height: auto;
            width: 30ch;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            grid-template-areas:
                "img close"
                "info .";

            column-gap: 0.1em;

            img {
                grid-area: img;
                justify-self: center;
            }

            .ItemInfo {
                grid-area: info;
            }

            .Close {
                grid-area: close;
            }
        }

        .CartInfo {
            width: 30ch;
        }
    }
}

@media (min-width: 500px) {
    .Header {
        .SearchBar {
            align-items: center;
            width: 25ch;
            height: 2.5em;
            border: 0.1em solid rgba(0, 0, 0, 0.3);
            border-radius: 0.3em;

            .SearchInput {
                margin-left: 0.5em;
                width: 15ch;
                font-size: 1.2em;
            }
        }
    }
    .Panel {
        #Literature {
            display: flex;
        }
    }
}



@media (min-width: 700px) {
    .Header {
        img {
            transform: scale(1);
        }
        .SearchBar {
            width: 45ch;
            height: 2.5em;
            border: 0.1em solid rgba(0, 0, 0, 0.3);
            border-radius: 0.3em;
        }
    }
    .Panel {
        #Glass {
            display: flex;
        }
    }
}

@media (min-width: 800px) {
    .Header {
        .SearchBar {
            width: 55ch;

            .SearchInput {
                width: 20ch;
                font-size: 1.2em;
            }
        }
    }

    .Panel {
        #Syrups {
            display: flex;
        }
    }

    footer {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 950px) {
    .CartMain {
        flex-direction: row;
    }
}

@media (min-width: 1150px) {
    .Header {
        margin-left: 6em;
        margin-right: 6em;
        margin-top: 1.5em;

        .MainLogo {
            height: 3em;
            width: auto;
        }

        .SearchBar {
            width: 30ch;
            height: 3em;
            border: 0.1em solid rgba(0, 0, 0, 0.3);
            border-radius: 0.3em;

            .SearchButton {
                margin-left: 0.5em;
                height: 2.5em;
                width: 2.5em;

                img {
                    height: 2em;
                    width: 2em;
                }
            }

            .SearchInput {
                height: 2em;
                width: 10ch;
                font-size: 1.2em;
            }
        }

        .UserStuff {
            justify-self: flex-end;
            .UserCartFav {
                margin-left: 2.5em;
                padding: 0.3em;

                p {
                    font-size: 1em;
                }

                .FavImg {
                    width: 1.7em;
                    height: 1.7em;
                    margin-right: 0.6em;
                }
                .CartImg {
                    width: 1.7em;
                    height: 1.7em;

                    margin-right: 0.6em;
                }
                .UserImg {
                    width: 1.7em;
                    height: 1.7em;
                    margin-right: 0.6em;
                }
            }

            #UserPage {
                padding-right: 0px;
            }
        }
    }
    .Panel {
        border-color: rgba(0, 0, 0, 0.2);

        .PanelBlocks {
            font-size: 1em;
            height: 3.75em;
        }
        .PanelBlocks:hover {
            cursor: pointer;

            p {
                color: $SoftRed;
                transition: 200ms;
            }
        }
        img {
            margin-left: 6em;
            width: 2em;
            height: 2em;
        }
        #last {
            margin-right: 6em;
        }
    }



    footer {
        grid-template-columns: auto auto auto;
    }
}


@media (max-width: 600px)
{


    .AboutBody {
        height: 850px;
    }
    
    .WarehousePic{
        height: 300px;
        
    }
    
    .AboutMain{
        display: flex;
        flex-direction: column;
        gap: 3ch;
    }
    
    .TextBlock{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    
    .Text{
        font-size: 1.2em;
        width: 30ch;
    }
}

@media (min-width:600px){
    .AboutBody {
        height: 800px;
      width: auto;
    }
    
    .WarehousePic{
        height: 350px;
    }
    
    .AboutMain{
        display: flex;
        row-gap: 0.5em;
        flex-direction: column;
    }
    
    .TextBlock{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    
    .Text{
        font-size: 1.5em;
        width: 40ch;
    }
}





@media (min-width: 1400px) {
    .Header {
        .SearchBar {
            width: 50ch;

            .SearchInput {
                height: 2em;
                width: 50ch;
                font-size: 1.2em;
            }
        }

        .UserStuff {
            .UserCartFav {
                p {
                    font-size: 1.2em;
                }
            }
        }
    }
    .Panel {
        font-size: 1.2em;
    }

    
    .AboutMain{
        flex-direction: row;
    }

    footer {
     
        height: auto;
        padding-left: 2em;
        padding-top: 2em;

        grid-template-columns: auto auto auto;

        .subscribeText {
            font-size: 1.5em;
        }
        .SubWrapper {
            row-gap: 1em;
            margin-bottom: 3.5em;
            .subscribeBlock {
                border-bottom: solid 1px white;
                width: 35ch;
                height: 4ch;

                input {
                    border: 0px;
                    font-size: 1.2em;
                    width: 23ch;
                    height: 2.7ch;
                }

                img {
                    height: 1em;
                }
            }
        }

        .SocialNetworks {
            column-gap: 1em;

            .SocialWrapper {
                margin-bottom: 3.5em;
                width: 7em;
                height: 7em;
                border-radius: 50%;
                img {
                    width: 3em;
                    height: 3em;
                }
            }
        }

        .FlexParagraphs {
            margin-bottom: 3.5em;
            column-gap: 1em;
            font-size: 1.5em;
            p {
                width: 40cx;
            }
        }
    }
    .AboutBody {
        height: 650px;
        
    }
    
    .WarehousePic{
        height: 550px;
    }
    
    .AboutMain{
        display: flex;
        column-gap: 10ch;
    }
    
    .TextBlock{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    
    .Text{
        font-size: 1.5em;
        width: 50ch;
    }
    

}

@media (min-width: 1600px) {
    .Header {
        .SearchBar {
            width: 70ch;
        }
    }
    .Panel {
        #Alcohol,
        #Inventory,
        #Glass {
            display: flex;
        }
    }



}

@media (min-width: 1800px) {
    .Header {
        margin-left: 12.5em;
        margin-right: 10.5em;
        margin-top: 1.5em;

        .SearchBar {
            width: 80ch;

            .SearchInput {
                height: 2em;
                width: 75ch;
                font-size: 1.2em;
            }
        }

        .UserStuff {
            .UserCartFav {
                margin-left: 2.5em;
                padding: 0.3em;
                p {
                    font-size: 1.2em;
                }
            }
        }
    }
    .Panel {
        p {
            font-size: 1em;
        }
        .PanelBlocks {
            height: 4em;
            padding-right: 2.5em;
            padding-left: 2.5em;
        }

        img {
            margin-left: 10.5em;
            width: 2em;
            height: 2em;
        }
    }

    .AboutBody {
        height: 700px;
    }
    
    .WarehousePic{
        height: 650px;
    }
    
    .AboutMain{
        display: flex;
        column-gap: 10ch;
    }
    
    .TextBlock{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    
    .Text{
        font-size: 1.5em;
        width: 70ch;
    }
}
