/* ШРИФТ */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

:root {
    font-family: "Montserrat", sans-serif;
    --container-padding: 32px;

    --swiper-theme-color: #8a7b9f;
    --swiper-pagination-bullet-horizontal-gap: 10px;
    --swiper-pagination-bullet-size: 11px;
}

/* ЦВЕТА */

$dark-violet: #8a7b9f;
$violet: #af94d6;
$light-violet: #ceb0f9;
$gray-violet: #d0cad9;
$light-gray: #f2f2f2;
$semi-transparent-blue: rgba(100, 164, 185, 0.1);

/* LAYOUT */

html {
    overflow-x: hidden;
}

body {
    position: relative;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    max-width: 1280px;
    padding: 28px var(--container-padding) 48px var(--container-padding);
    width: 100%;
}

/* Модификаторы */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* СБРОС СТИЛЕЙ */
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: black;
}

/* Упрощаем работу с изображениями */
img,
svg {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
    padding: 0;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

//Замена стрелок слайдера

// Замена стрелок и сброс стилей
.swiper-button-next,
.swiper-button-prev {
    background-image: url(./assets/img/arrow_r.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    position: unset;
    width: 14px;

    &::after {
        display: none;
    }
}

.swiper-button-prev {
    transform: rotate(180deg);
}

/* Основной стиль кнопки в проекте */

.project-button {
    display: grid;
    place-items: center;
    border-radius: 20px;
    height: 64px;
    border: none;
    padding: 0px 33px;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    transition: all 0.25s;

    &_color_dark-violet {
        color: white;
        background-color: $dark-violet;

        &:hover {
            background-color: $violet;
        }
    }
}

/* Заголовки */

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 69px;
    line-height: 64px;
    font-weight: 700;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

h2 {
    font-family: "Oswald";
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

h3 {
    font-family: "Oswald";
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.project-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

@media screen and (max-width: 768px) {
    .project-button {
        padding: 0px 24px;
        font-size: 16px;
        height: 54px;
        border-radius: 16px;
        line-height: 20px;
    }

    h1,
    h2 {
        font-size: 55px;
        line-height: 50px;
    }

    h3 {
        font-size: 26px;
        line-height: 30px;
    }
}

@media screen and (max-width: 550px) {
    .project-button,
    .project-paragraph {
        font-size: 14px;
        line-height: 17px;
    }

    h1,
    h2 {
        font-size: 32px;
        line-height: 30px;
    }

    h3 {
        font-size: 20px;
        line-height: 22px;
    }
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    width: calc(min(60%, 558px));
    position: absolute;
    z-index: 999;

    .logo {
        cursor: pointer;
    }

    .navigation {
        display: flex;
        column-gap: 48px;
        align-items: center;
    }

    .burger {
        display: flex;
        flex-direction: column;
        row-gap: 11px;
        align-self: center;
        justify-self: end;
        display: none;
        cursor: pointer;
        z-index: 9999;

        div {
            width: 33px;
            height: 2px;
            background-color: black;
            border-radius: 1px;
            transition: all 0.4s;
        }

        &_opened {
            div:nth-child(1) {
                transform: translateY(13px) rotate(-45deg);
            }
            div:nth-child(2) {
                transform: translateX(-100%);
                opacity: 0;
            }
            div:nth-child(3) {
                transform: translateY(-13px) rotate(45deg);
            }
        }
    }

    .modal-menu {
        background-color: #fff;
        height: 100vh;
        width: 394px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9998;
        opacity: 0;
        transition: 0.4s ease-in-out;
        transform: translateX(100%);

        &_opened {
            transform: translateX(0%);
            opacity: 1;
            position: fixed;
        }

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 164px;
        }

        &__navigation {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 36px;
            a {
                font-size: 24px;
            }
        }

        &__social-networks {
            margin-top: 96px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .small-icons {
                display: flex;
                column-gap: 40px;
                align-items: center;
            }

            #instagram-logo {
                transform: rotate(90deg);
                margin: 5px 0px 20px 0px;
            }
        }
    }

    .mobile-background {
        width: 100vw;
        height: 64px;
        position: absolute;
        left: -16px;
        top: 0;
        background-color: white;
        z-index: -1;
        display: none;
    }
}

.navigation__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    width: max-content;
    color: black;

    a::after {
        content: attr(data-title);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: transparent;
        font-weight: 700;
        transition: 0.25s;
        transform: scale(0.9);
        transform-origin: center center;
    }

    .underline {
        background-color: black;
        height: 1px;
        width: 100%;
        margin-top: 8px;
        position: absolute;
        opacity: 0;
        transition: all 0.25s;
    }

    &_active,
    &:hover {
        a {
            color: transparent;
        }

        a::after {
            color: $dark-violet;
            transform: scale(1);
        }

        .underline {
            display: block;
            opacity: 1;
        }
    }
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    margin-top: 95px;
    position: relative;

    .line {
        height: 1px;
        width: 100vw;
        position: absolute;
        background-color: #000;
        top: 0;
    }

    &__links {
        display: flex;
        column-gap: 50px;
    }

    .location {
        margin: 32px 0px 40px 0px;
        max-width: 31ch;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding-top: 34px;
        margin-top: 65px;

        &__links {
            column-gap: 48px;
        }

        .location {
            margin: 26px 0px 50px 0px;
        }
    }
}

@media screen and (max-width: 550px) {
    .footer {
        padding-top: 28px;
        margin-top: 35px;

        &__links {
            column-gap: 48px;

            .navigation__link {
                font-size: 14px;
                line-height: 17px;
            }
        }

        .location {
            margin: 23px 0px 0px 0px;
            max-width: 31ch;
            font-size: 14px;
            line-height: 17px;
        }

        .project-button {
            display: none;
        }
    }
}

.darkening {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.4s;

    &_active {
        opacity: 1;
        z-index: 100;
        position: fixed;
    }
}

// Не показывать затемнение и модальную навигацию при ширине экрана > 768px
// (нужно при условии, что пользователь открыл меню через бургер и растянул экран)
@media screen and (min-width: 768px) {
    .modal-menu,
    .darkening {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --container-padding: 34px;
    }

    .header {
        width: calc(100vw - 64px);

        &_modal-opened {
            .burger {
                position: fixed;
                right: var(--container-padding);
            }
        }

        .navigation {
            display: none;
        }

        .burger {
            display: flex;
        }

        .logo {
            height: 68px;
        }
    }
}

@media screen and (max-width: 550px) {
    :root {
        --container-padding: 16px;

        --swiper-pagination-bullet-horizontal-gap: 6px;
        --swiper-pagination-bullet-size: 7px;
    }

    .container {
        padding-top: 0px;
    }

    .header {
        height: 64px;
        width: 100%;
        position: unset;
        padding: 16px 0px;

        &_modal-opened {
            position: fixed !important;
            background-color: white;

            .burger {
                right: 16px;
            }
        }

        .logo {
            height: 32px;
        }

        .burger {
            row-gap: 7px;

            div {
                width: 20px;
                height: 1px;
            }

            &_opened {
                div:nth-child(1) {
                    transform: translateY(8px) rotate(-45deg);
                }
                div:nth-child(3) {
                    transform: translateY(-8px) rotate(45deg);
                }
            }
        }

        .mobile-background {
            display: block;
        }
    }

    .header {
        .modal-menu {
            width: 100vw;
            height: fit-content;
            margin: 64px 0px 0px 0px;

            &__container {
                padding: 24px 16px 42px 16px;
            }

            &__social-networks {
                margin-top: 64px;

                #instagram-logo {
                    margin: 5px 0px 5px 0px;
                }
            }

            .project-button {
                width: 100%;
            }
        }

        .navigation__link {
            font-size: 20px;
        }
    }
    .darkening {
        margin-top: 64px;
    }
}

.blurred-circle {
    position: absolute;
    background-color: #eff6f8;
    z-index: -1;
    border-radius: 100%;
    filter: blur(30px);
}

/* ГЛАВНАЯ СТРАНИЦА */

// Первый блок: портрет, контакты, встречающий текст

.greeting-block {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;

    &__text {
        position: absolute;
        left: 0;
        bottom: 32px;
        z-index: 10;
    }

    &__blurred-circle {
        width: 619px;
        height: 619px;
        top: 146px;
        left: -279px;
    }

    &__greeting-text {
        font-family: "Oswald";
        font-weight: 700;
        font-size: 69px;
        line-height: 64px;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        max-width: 15ch;
        align-self: flex-end;
    }

    &__sub-text {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        max-width: 24ch;
        margin: 88px 0px 27px 0px;
    }

    &__portrait {
        background-color: $light-gray;
        margin: -28px -32px 0px 0px;
        padding-top: 15px;
        position: relative;
        display: flex;
        width: 50%;
        justify-content: center;
        .guzel-portrait {
            height: 713px;
            margin-top: 15px;
        }
    }

    &__social-networks {
        position: absolute;
        top: 0;
        right: 37px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        padding-bottom: 32px;

        .line {
            background-color: black;
            width: 1px;
            height: 283px;
        }
    }

    &__word-circle {
        position: absolute;
        top: 270px;
        left: -20%;
    }

    .mobile-background,
    .mobile-linear-gradient {
        width: 100vw;
        position: absolute;
        margin-left: -50vw;
        left: 50%;
        display: none;
    }

    .mobile-background {
        z-index: -1;
        background-color: $light-gray;
        height: 100%;
    }

    .mobile-linear-gradient {
        background: linear-gradient(transparent, rgba(255, 255, 255, 0.8));
        z-index: 10;
        height: calc(100% - 120px);
        position: absolute;
        bottom: 0;
    }
}

.social-network-icon {
    cursor: pointer;
    transition: all 0.25s;

    &:hover {
        filter: invert(57%) sepia(8%) saturate(1222%) hue-rotate(223deg) brightness(87%) contrast(85%);
    }
}

@media screen and (max-width: 1150px) {
    .greeting-block {
        &__portrait {
            min-width: 394px;
            .guzel-portrait {
                height: 576px;
            }
        }

        &__greeting-text {
            font-size: 55px;
            line-height: 50px;
            max-width: 15ch;
        }

        &__sub-text {
            font-size: 16px;
            line-height: 20px;
            max-width: 24ch;
            margin: 88px 0px 27px 0px;
        }

        &__word-circle {
            width: 300px;
            top: 270px;
            left: -20%;
        }
    }
}

@media screen and (max-width: 768px) {
    .greeting-block {
        &__text {
            bottom: 25px;
        }

        &__sub-text {
            margin: 48px 0px 28px 0px;
        }

        &__word-circle {
            display: none;
        }

        &__social-networks {
            display: none;
        }

        &__portrait {
            margin: -45px -34px 0px 0px;
        }
    }
}

@media screen and (max-width: 650px) {
    .greeting-block {
        &__greeting-text {
            font-size: 36px;
            line-height: 33px;
            max-width: 10ch;
            align-self: baseline;
        }
    }
}
@media screen and (max-width: 550px) {
    .greeting-block {
        height: 464px;

        &__text {
            bottom: 55px;
        }

        &__sub-text {
            align-self: center;
            max-width: 25ch;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            margin: 59px 0px 36px 0px;
        }

        &__greeting-text {
            font-size: 40px;
            line-height: 38px;
            max-width: 15ch;
        }

        &__portrait {
            width: 100vw;
            height: 100%;
            margin: 0;
            padding-top: 0px;
            flex-direction: column;
            background-color: transparent;
            overflow: hidden;
            margin-right: -16px;

            .guzel-portrait {
                height: 500px;
                align-self: flex-end;
                margin: 0px -30px 0px 0px;
            }
        }

        &__blurred-circle {
            display: none;
        }

        .mobile-background,
        .mobile-linear-gradient {
            display: block;
        }
    }
}

@media screen and (max-width: 450px) {
    .greeting-block {
        &__text {
            display: flex;
            flex-direction: column;
            width: 100%;
            bottom: 48px;
        }

        &__greeting-text {
            font-size: 32px;
            line-height: 30px;
            max-width: 10ch;
            align-self: baseline;
        }
    }
}

@media screen and (max-width: 330px) {
    .greeting-block__portrait > .guzel-portrait {
        margin: 0px -80px 0px 0px;
    }
}

// Второй блок: цитата

.quote {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 100px 0px 84px 0px;

    &__container {
        position: relative;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        max-width: 52ch;
    }

    &__quote-marks {
        position: absolute;
        left: 0;
        top: -20px;
        left: -20px;
    }
}

@media screen and (max-width: 768px) {
    .quote {
        padding: 68px 0px 78px 0px;

        &__text {
            font-size: 16px;
            line-height: 20px;
        }
    }
}

@media screen and (max-width: 550px) {
    .quote {
        padding: 73px 0px 35px 0px;

        &__text {
            font-size: 14px;
            line-height: 17px;
        }

        &__quote-marks {
            left: 50%;
            top: -49px;
            width: 36px;
        }
    }
}

// Обо мне | Проблемы с которыми работаю

.about {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    column-gap: 30px;

    .decorative-circle {
        $circle_r: 420px;
        width: $circle_r;
        height: $circle_r;
        position: absolute;
        border: 1px solid black;
        border-radius: 100%;
        top: calc(#{$circle_r / (-2)});
        right: calc(#{-32px + $circle_r / (-2)});
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-self: center;
        font-size: 16px;
        line-height: 28px;
        width: 100%;
        max-width: 494px;

        .info-titles {
            font-weight: 600;
            display: grid;
            justify-content: space-between;
            grid-template-columns: repeat(2, auto);
            margin: 60px 0px 32px 0px;
        }

        .founder-title {
            max-width: 35ch;
            margin-bottom: 86px;
        }
    }

    &__problems {
        background-color: $semi-transparent-blue;
        padding: 60px 72px 57px 72px;
        flex-grow: 1;
        max-width: 592px;

        h3 {
            width: 20ch;
        }

        .problems-list {
            margin-top: 55px;
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            font-size: 16px;
            line-height: 18px;
            max-width: 40ch;
        }
    }

    &__project-button {
        width: fit-content;
        p {
            max-width: 17ch;
        }
    }
}

@media screen and (max-width: 1200px) {
    .about {
        .decorative-circle {
            $circle_r: 355px;
            width: $circle_r;
            height: $circle_r;
            top: calc(#{$circle_r / (-2)});
            right: calc(#{-130px + $circle_r / (-2)});
        }
    }
}

@media screen and (max-width: 1000px) {
    .about {
        &__info {
            .info-titles {
                grid-template-columns: auto;
                margin: 38px 0px 14px 0px;
            }

            .founder-title {
                margin-bottom: 33px;
            }
        }

        &__problems {
            padding: 37px 32px 48px 32px;
            width: fit-content;

            .problems-list {
                margin-top: 46px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .about {
        &__info {
            .info-titles {
                justify-content: space-between;
                grid-template-columns: auto;
                margin: 38px 0px 14px 0px;
            }

            .founder-title {
                max-width: 27ch;
            }
        }

        &__project-button {
            width: fit-content;
            padding: 17px 24px;
            height: fit-content;
        }
    }
}

@media screen and (max-width: 650px) {
    .about {
        .decorative-circle {
            $circle_r: 248px;
            width: $circle_r;
            height: $circle_r;
            top: calc(#{$circle_r / (-2)});
            right: calc(#{-110px + $circle_r / (-2)});
        }

        flex-direction: column;
        row-gap: 40px;
        align-items: center;

        &__info {
            max-width: unset;

            .info-titles {
                grid-template-columns: repeat(2, auto);
            }

            .founder-title {
                max-width: unset;
            }
        }

        &__problems {
            width: 100%;
            max-width: unset;

            .problems-list {
                max-width: unset;
            }
        }

        &__project-button {
            width: 100%;

            p {
                max-width: unset;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .about {
        .decorative-circle {
            $circle_r: 248px;
            width: $circle_r;
            height: $circle_r;
            top: calc(#{80px + $circle_r / (-2)});
            right: calc(#{-80px + $circle_r / (-2)});
        }

        flex-direction: column;
        row-gap: 40px;
        align-items: center;

        &__info {
            font-size: 14px;
            line-height: 26px;
            .info-titles {
                grid-template-columns: auto;
            }
        }

        &__problems {
            padding: 25px 20px 30px 20px;
            .problems-list {
                font-size: 14px;
                line-height: 18px;
                margin-top: 24px;
            }
        }
    }
}

// Образование и опыт работы

.education {
    position: relative;

    img {
        max-width: 300px;
    }

    padding: 90px 106px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        display: flex;
        align-items: center;
        column-gap: 42px;
        margin-bottom: 43px;

        .title {
            font-family: "Oswald";
            font-weight: 700;
            font-size: 50px;
            line-height: 64px;
            letter-spacing: -0.04em;
            text-transform: uppercase;

            &-violet {
                color: $dark-violet;
            }

            &-gray {
                color: $light-gray;
            }
        }

        .separation-line {
            width: 1px;
            height: 73px;
            background-color: black;
        }
    }

    .swiper-pagination {
        display: none;
    }

    // Слайд с этапом образования
    &__slide {
        position: relative;

        .year {
            font-family: "Oswald";
            font-weight: 600;
            font-size: 28px;
            line-height: 41px;
            margin-bottom: 85px;

            &::after {
                content: " г.";
            }
        }

        .type {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            max-width: 20ch;
            position: absolute;
            top: 50px;
        }

        .slide-line {
            display: flex;
            align-items: center;

            .circle {
                background-color: black;
                width: 11px;
                height: 11px;
                border-radius: 11px;
            }

            .line {
                background-color: black;
                width: 100%;
                height: 1px;
            }
        }

        .place {
            font-weight: 400;
            margin-top: 37px;
            padding-right: 30px;
        }
    }

    // Контейнер слайдера и стрелок
    &__swiper-container {
        width: 100%;
        display: flex;
        column-gap: 60px;
        justify-content: center;

        .educ-swiper-slides {
            max-width: 936px;
            overflow: hidden;
        }

        .swiper-arrows {
            display: flex;
            flex-direction: column;
            row-gap: 48px;
            justify-content: center;
        }
    }

    .decorative-circle {
        $circle_r: 452px;
        width: $circle_r;
        height: $circle_r;
        position: absolute;
        border: 1px solid black;
        border-radius: 100%;
        top: 260px;
        left: -400px;
    }
}

@media screen and (max-width: 1200px) {
    .education {
        padding: 90px 0px;

        .decorative-circle {
            $circle_r: 328px;
            width: $circle_r;
            height: $circle_r;
            position: absolute;
            border: 1px solid black;
            border-radius: 100%;
            top: 340px;
            left: -330px;
        }
    }
}

@media screen and (max-width: 768px) {
    .education {
        padding: 60px 0px;

        .swiper-pagination {
            display: block;
            position: unset;
            margin-top: 30px;
        }

        &__title {
            column-gap: 27px;

            .title {
                font-size: 37px;
            }

            .separation-line {
                height: 46px;
            }
        }

        &__swiper-container {
            .educ-swiper-slides {
                max-width: calc(100vw - 68px);
                overflow: visible;
            }

            .swiper-arrows {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .education {
        padding: 47px 0px;

        &__slide {
            .year {
                margin-bottom: 57px;
                font-size: 20px;
                line-height: 30px;
            }

            .type {
                font-size: 14px;
                line-height: 17px;
                top: 30px;
            }

            .place {
                margin-top: 24px;
                padding-right: 22px;
            }
        }

        &__title {
            column-gap: 16px;

            .title {
                font-size: 29px;
            }

            .separation-line {
                height: 34px;
            }
        }

        &__swiper-container {
            .educ-swiper-slides {
                max-width: calc(100vw - 32px);
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .education {
        padding: 35px 0px;

        &__title {
            margin-bottom: 15px;
            .title {
                font-size: 20px;
            }

            .separation-line {
                height: 24px;
            }
        }
    }
}

// Приемы

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__blurred-circle {
        width: 771px;
        height: 771px;
        right: 50px;
        bottom: 0px;
    }

    &__swiper-container {
        display: flex;
        width: 100%;
        column-gap: 50px;
        justify-content: space-between;
        margin-top: 66px;
        width: 100%;
    }

    .services-swiper-slides {
        max-width: 834px;
        width: 100%;
        overflow: hidden;
    }

    &__swiper-pagination {
        max-height: 455px;
    }

    &__swiper-arrows {
        display: none;
    }

    &__slide {
        display: flex;
        column-gap: 30px;
        width: 100%;
        justify-content: space-between;
        height: fit-content;

        .text-content {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            max-width: 295px;

            &__title {
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
            }

            &__line {
                background-color: #000;
                height: 1px;
                width: 119px;
            }

            &__price-block {
                display: flex;
                flex-direction: column;
                row-gap: 50px;

                .price {
                    font-family: "Oswald", sans-serif;
                    font-weight: 700;
                    font-size: 50px;
                    line-height: 64px;
                    letter-spacing: -0.04em;
                    text-transform: uppercase;

                    &::after {
                        content: "  ₽";
                    }
                }
            }
        }

        .slide-image-container {
            width: 450px;
            height: 450px;
            min-height: 450px;
            min-width: 450px;

            border-radius: 20px;
            overflow: hidden;
            display: grid;
            place-items: center;

            .slide-image {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .services {
        &__blurred-circle {
            width: 500px;
            height: 500px;
        }

        &__slide {
            .text-content {
                row-gap: 20px;

                &__price-block {
                    row-gap: 20px;

                    .price {
                        font-size: 40px;
                    }
                }
            }

            .slide-image-container {
                width: 355px;
                height: 355px;
                min-width: unset;
                min-height: unset;
            }
        }

        &__swiper-pagination {
            max-height: 355px;
        }
    }
}

// При ширине экрана > 1000 px показывать скролл с пагинацией
@media screen and (min-width: 1000px) {
    .bullet-name {
        display: block;
    }

    .services__swiper-pagination {
        position: unset;
        max-width: 305px;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        overflow-y: auto;
        direction: ltr;
        scrollbar-color: #d4aa70 #e4e4e4;
        scrollbar-width: thin;
        padding-right: 30px;
        min-width: 210px;
        flex-shrink: 3;

        &::-webkit-scrollbar {
            width: 9px;

            &-track {
                background: rgb(0, 0, 0);
                border: 4px solid transparent;
                background-clip: content-box;
            }

            &-thumb {
                background: rgb(25, 25, 25);
                border: 1px solid rgb(0, 0, 0);
                border-radius: 20px;
            }
        }

        .swiper-pagination-bullet {
            background: none;
            height: fit-content;
            width: fit-content;
            text-align: left;
            font-size: 16px;
            line-height: 20px;
            color: black;
            margin: 0 0 !important;
            opacity: 1;

            &-active {
                color: rgba(0, 0, 0, 0.3);
            }
        }
    }
}

// При ширине экрана > 1000 px показывать один слайд и стандартные буллеты
@media screen and (max-width: 1000px) {
    .bullet-name {
        display: none;
    }

    .services {
        &__swiper-container {
            flex-direction: column;
            row-gap: 50px;
            align-items: center;
            position: relative;
        }

        .services-swiper-slides {
            padding: 0px 50px;
        }

        &__swiper-pagination {
            bottom: -80px !important;
        }

        &__swiper-arrows {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            align-items: center;
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 850px) {
    .services {
        &__blurred-circle {
            display: none;
        }

        &__swiper-container {
            max-width: 616px;
        }

        &__slide {
            flex-direction: column-reverse;

            .text-content {
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                width: 100%;
                max-width: unset;
                margin-top: 34px;

                &__line {
                    width: 100%;
                }

                &__price-block {
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }
            }

            .slide-image-container {
                width: 100%;
                max-height: 200px;
                border-radius: 16px;
                position: relative;

                .slide-image {
                    height: auto;
                    position: absolute;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .services {
        &__swiper-pagination {
            bottom: -40px !important;
        }

        &__swiper-arrows {
            display: none;
        }

        &__slide {
            .text-content {
                .title {
                    font-size: 16px;
                    line-height: 20px;
                }

                &__price-block {
                    .price {
                        font-size: 32px;
                        line-height: 64px;
                    }
                }
            }
        }

        .services-swiper-slides {
            padding: 0px;
        }
    }
}

@media screen and (max-width: 400px) {
    .services {
        &__slide {
            .text-content {
                row-gap: 24px;
                &__line {
                    max-width: 226px;
                }

                &__price-block {
                    flex-direction: column;
                    row-gap: 10px;
                    margin-top: -16px;
                    .price {
                        align-self: baseline;
                    }

                    .project-button {
                        width: 100%;
                    }
                }
            }

            .slide-image-container {
                max-height: calc((100vw - 32px) * 0.42);
                border-radius: 14px;
            }
        }
    }
}

// Результаты лечения

.treatment-results {
    background-color: $light-gray;
    margin-top: 96px;
    padding: 96px 0px;
    display: grid;
    place-items: center;

    &__container {
        display: flex;
        column-gap: 55px;
        position: relative;
    }

    h1 {
        position: absolute;
        max-width: 12ch;
        left: 602px;
    }

    &__swiper-arrows {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        row-gap: 70px;
        margin-bottom: 55px;
    }

    &__swiper-container {
        max-width: 850px;
        overflow: hidden;
    }

    &__slide {
        transition: 0.5s;
    }

    .swiper-wrapper {
        align-items: flex-end;
    }

    .swiper-backface-hidden {
        .swiper-slide {
            height: 463px;
            width: 475px;
            position: relative;

            img {
                position: absolute;
                bottom: 0;
                width: 240px;
                height: 232px;
                transition: 0.5s;
            }
        }

        .swiper-slide-active {
            img {
                height: 463px;
                width: 475px;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .treatment-results {
        &__swiper-pagination {
            display: none;
        }
    }
}

@media screen and (max-width: 1100px) {
    .treatment-results {
        &__container {
            column-gap: 40px;
        }

        h1 {
            left: 500px;
        }

        &__swiper-arrows {
            margin-bottom: 50px;
        }

        .treatment-results__swiper-pagination {
            bottom: 50px;
        }

        &__swiper-container {
            max-width: 750px;
        }

        .swiper-backface-hidden {
            .swiper-slide {
                height: 400px;
                width: 410px;
                position: relative;

                img {
                    position: absolute;
                    bottom: 0;
                    width: 200px;
                    height: 192px;
                }
            }

            .swiper-slide-active {
                img {
                    height: 400px;
                    width: 410px;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .treatment-results {
        margin-top: 125px;
        padding: 166px 0px 0px 0px;

        &__container {
            padding: 0px 100px 121px 100px;
            width: calc(100vw - 68px);
            display: flex;
            flex-direction: column;
            row-gap: 50px;
            align-items: center;
            justify-content: center;
            column-gap: 55px;
            position: relative;
        }

        h1 {
            max-width: 20ch;
            width: fit-content;
            left: 50%;
            top: -110px;
            transform: translateX(-50%);
        }

        &__swiper-arrows {
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            flex-direction: row;
            margin-bottom: 0px;
            align-self: auto;
            align-items: center;
            justify-content: center;
            column-gap: 575px;
        }

        &__swiper-container {
            max-width: 375px;
            overflow: hidden;
        }

        .swiper-backface-hidden {
            .swiper-slide {
                height: 397px;
                width: 387px;

                img {
                    height: 397px;
                    width: 387px;
                }
            }

            .swiper-slide-active {
                img {
                    height: 397px;
                    width: 387px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .treatment-results {
        &__swiper-arrows {
            column-gap: 500px;
        }
    }
}

@media screen and (max-width: 650px) {
    .treatment-results {
        margin-top: 125px;
        padding: 123px 0px 0px 0px;

        h1 {
            font-size: 40px;
            line-height: 36px;
            top: -80px;
        }

        &__swiper-arrows {
            column-gap: 440px;
        }
    }
}

@media screen and (max-width: 550px) {
    .treatment-results {
        padding-top: 150px;
        &__container {
            padding: 0px 100px 80px 100px;
            width: calc(100vw - 32px);
        }

        h1 {
            max-width: 12ch;
            top: -110px;
            text-align: center;
        }

        &__swiper-container {
            max-width: 216px;
        }

        &__swiper-arrows {
            column-gap: 330px;
        }

        .treatment-results__swiper-pagination {
            bottom: 30px;
        }

        .swiper-backface-hidden {
            .swiper-slide {
                height: 216px;
                width: 210px;

                img {
                    height: 216px;
                    width: 210px;
                }
            }

            .swiper-slide-active {
                img {
                    height: 216px;
                    width: 210px;
                }
            }
        }
    }
}
